<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>608439977153-t9tte234k3sjdv6h64tjb4ia8veb1e03.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.608439977153-t9tte234k3sjdv6h64tjb4ia8veb1e03</string>
	<key>API_KEY</key>
	<string>AIzaSyBYJ5d-LwEZT1bVvx3yFq81ThA4XSiKwjE</string>
	<key>GCM_SENDER_ID</key>
	<string>608439977153</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.celowallet</string>
	<key>PROJECT_ID</key>
	<string>website-ce245</string>
	<key>STORAGE_BUCKET</key>
	<string>website-ce245.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:608439977153:ios:c88cb2c1c796ce01438040</string>
	<key>DATABASE_URL</key>
	<string>https://website-ce245.firebaseio.com</string>
</dict>
</plist>